body {
  background: #d5eeff;
  color: white;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weather-icon {
  float: right;
  position: relative;
  right: 73px;
}

hr {
  margin-top: 20px;
}
p.signature,
.open-source-code-link {
  text-align: center;
  margin: 0;
  font-weight: 500;
}

p.signature {
  color: white;
}

.open-source-code-link {
  color: #d5eeff;
}
.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  padding: 5px 30px 20px 30px;
  border-radius: 20px;
  max-width: 700px;
  background: #2c5d63;
  opacity: 0.9;
}

.current-location-button {
  position: relative;
  bottom: -38px;
}

.search-bar {
  margin-bottom: 20px;
  position: relative;
  right: -61px;
}

.search-button:hover,
.current-location-button:hover {
  color: white;
  background: #458d97;
  border: 1px solid white;
}

.button-group,
.button-group:hover {
  background-color: white;
  color: #2c5d63;
  border: 1px solid #2c5d63;
  margin-top: 5px;
  cursor: default;
}

.weather {
  margin-bottom: 20px;
}

.temperature,
.units {
  font-family: "Anybody", cursive;
}

.temperature {
  font-size: 80px;
  font-weight: 800;
  line-height: 1.2;
  display: block;
  margin-block-end: -34px;
}

.units {
  font-weight: 600;
  position: relative;
  top: -55px;
  right: -119px;
}

.units-link {
  color: #d5eeff;
}
.units-link:hover,
.open-source-code-link:hover {
  color: white;
  text-decoration: underline;
}

.active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: white;
}

.current-datetime {
  font-size: 17px;
}

.search-input,
.location {
  text-transform: capitalize;
}
.location {
  font-size: 22px;
}

.second-column {
  text-align: right;
}

.weather-description {
  font-size: 22px;
  text-transform: capitalize;
}

.forecast {
  margin: 20px 0px 20px 0;
  font-size: 18px;
  text-align: center;
}

.forecast-day {
  font-size: 25px;
}
